.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#index-banner {

  background: url(../img/home_background.png) no-repeat center center scroll;
}

#projects {
  background: #f5f5f5;
}
#memories-app {
  max-width:110%;
  max-height:110%;
}

.card-title {

  text-shadow: 2px 2px 2px #777777;
}

.contact-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: none;
  padding-top: none;
}
.page-footer {
  margin-top: none;
  padding-top: none;
}
.contact-container {

  padding-bottom: none;
}
.send-btn {
  text-align: center;
}
/* label color */
.input-field input[type=text] {
  color: white;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
.input-field label {
  color: #ffffff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffffff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffffff;
}


/* label color */
.input-field textarea[type=text] {
  color: white;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* label focus color */
.input-field textarea[type=text]:focus + label {
  color: #ffffff;
}
/* label underline focus color */
.input-field textarea[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* valid color */
.input-field textarea[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* invalid color */
.input-field textarea[type=text].invalid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ffffff;
}
